#content {
  height: 800px;
  margin: auto;
}

#content .pane {
  /* height: 100%; */
  width: 47%;
  /* border: 1px solid black; */
  margin: 10px;
}

#content .right {
  position: absolute;
  right: 0
}

#content .left {
  position: absolute;
  left: 0
}

.button {
  margin: 5px;
}

#htmlEditor {
  height: 600px;
  width: 100%;
  resize: none;
  outline: none;
}

#htmlPreview {
  height: 600px;
  width: 100%;
}

.fl_left {
  float: left;
  padding: 25px;
}

.fl_right {
  float: right;
  padding: 25px;
}

.highlight {
  color: red;
}